.home img
{
    width: 100%;
    height: 500px;
    object-position: center;
    object-fit: cover;
}

.homecontent
{
        position: absolute;
        top: 35%;
        left: 40%;
        transform: translate(-50%,-50%);
}
.homecontent h1
{
    color: #ffffff;
    font-size: 50px;
}
.homecontent h2
{
    color: #ffffff;
    font-size: 25px;
    font-style: italic;
}

.homecontent h3
{
    color: #ffffff;
    font-size: 20px;
}

.homecontent a
{
    margin-top: 10px;
}

@media screen and (max-width:600px)
{
    .home img
{
    height: 400px;
}
    .homecontent h1
{
    font-size: 40px;        
}
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }